body {
  text-align: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 1002px;
  margin: 0 auto;
}

.blank {
  width: 0;
  height: 0;
  margin-bottom: 8px;
}

header {
  width: 100%;
  height: 165px;
  position: relative;
  background: white;
  text-align: left;
}

.welcom {
  width: 990px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: url(index_hot.gif) repeat-x;
}

#sign {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  color: gray;
}

#sign a {
  font-size: 12px;
  color: gray;
}

#goshop {
  position: absolute;
  right: 0;
  top: 0;
}

#goshop a {
  margin-right: 5px;
  font-size: 12px;
  color: gray;
}

.logo {
  position: absolute;
  left: 6px;
  top: 50px;
}

.search {
  width: 410px;
  height: 54PX;
  position: absolute;
  left: 305px;
  top: 55px;
  background: url(serchss.gif) no-repeat;
}

.search form input {
  vertical-align: top;
}

.search #keywords {
  width: 300px;
  height: 34px;
  border: none;
  line-height: 36px;
  color: #ccc;
  margin-left: 20px;
  margin-top: 3px;
  background: none;
  outline: none;
}

.search #btsearch {
  width: 70px;
  height: 37px;
  border: none;
  margin-bottom: 5px;
  background: none;
}

.shopcar {
  width: 131px;
  height: 29px;
  position: absolute;
  right: 2px;
  top: 56px;
  background: url(cartinfo.gif);
}

.shopcar a {
  margin-left: 40px;
  color: #666666;
  font-size: 12px;
  line-height: 29px;
}

.shopcar a:hover {
  color: red;
  text-decoration: underline;
}

.lanmu {
  width: 990px;
  height: 38px;
  background: url(Nalist1.gif);
  position: absolute;
  left: 0px;
  top: 122px;
  padding-left: 6px;
}

.lanmu li {

  margin-left: 8px;
}

.lanmu a {
  width: 120px;
  height: 38px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  font-family: "Mcrosoft Yahei", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 38px;
}

.lanmu a:hover {
  background: url(Nalist_hover.gif) repeat-x;
}

.lanmu li.hover a {
  background: url(Nalist_hover.gif) repeat-x;
}

section {
  width: 100%;
  height: 1744px;
  background: white;
  position: relative;
  text-align: left;
}

.mainlside {
  width: 200px;
  height: 1431px;
  position: absolute;
  left: 0;
  top: 0;
}

.mainlside .submit1 {
  width: 200px;
  height: 27px;
  text-align: left;
  background: url(category_tree_bg.gif) repeat-x;
}

.mainlside .submit1 a {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 27px;
}

.mainlside .sort1 {
  width: 198px;
  height: 288px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.mainlside .sort2 {
  padding: 5px 10px;
}

.mainlside .sort2 .detail {
  width: 178;
  height: 64px;
  border-bottom: 1px solid #ccc;
}

.mainlside .sort2 .submit2 {
  width: 178px;
  height: 18px;
  margin-top: 2px;
  margin-bottom: 5px;
  line-height: 18px;
  font-size: 13px;
  font-weight: bold;
}

.mainlside .sort2 ul {
  width: 178px;
  height: 38px;
  padding-left: 10px;
}

.mainlside .sort2 ul li {
  width: 76px;
  height: 17px;
  margin: 1px 2px;
  float: left;
}

.mainlside .sort2 a {
  line-height: 17px;
  font-size: 13px;
  color: #424242;
  background: url(bg.gif) no-repeat -287px -29px;
  padding-left: 8px;
}

.sole1 {
  width: 198px;
  height: 214px;
  margin-bottom: 8px;
  border: 1px solid rgb(206, 206, 206);
}

.sole1 .sole2 {
  width: 200px;
  height: 214px;
  padding: 5px 8px;
  font-size: 12px;
}

.sole1 .sole2 .f {
  width: 182px;
  height: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 4px;
}

.sole1 .sole2 .f1 {
  width: 122px;
  height: 18px;
  float: left;
}

.sole1 .sole2 a {
  width: 102px;
  height: 13px;
  line-height: 13px;
  color: rgb(66, 66, 66);
}

.sole1 .sole2 .f2 {
  color: rgb(255, 108, 2);
  float: right;
}

.brand1 {
  width: 198px;
  height: 200px;
  margin-bottom: 8px;
  border: 1px solid rgb(204, 204, 204);
}

.brand1 .brand2 {
  padding-top: 6px;
  padding-left: 13px;
  font-size: 12px;
  color: rgb(66, 66, 66);
}

.brand1 .brand2 img {
  display: block;
  width: 78px;
  height: 38px;
  float: left;
  margin: 6px 12px 0 0;
  border: 1px solid rgb(230, 230, 230);
}

section .tshirt {
  width: 200px;
  height: 350px;
  margin-bottom: 8px;
}

.send-search1 {
  width: 198px;
  height: 110px;
  margin-bottom: 8px;
  border: 1px solid rgb(204, 204, 204);
}

.send-search1 .send-search2 {
  width: 198px;
  height: 110px;
  padding: 5px 8px;
}

.send-search1 .send-search2 .send-search3 {
  width: 182px;
  height: 33PX;
  margin-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
  font-size: 13px;
  color: rgb(174, 174, 172);
}

.book-search {
  width: 182px;
  height: 68px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px 8px;
}

.book-search .input_ {
  width: 179px;
  height: 18px;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 8px;
  padding-left: 1px;
}

.book-search .button_ {
  width: 104px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  background: url(bg.gif) -151px -48px no-repeat;
  margin-bottom: 8px;
  vertical-align: middle;
}

.mainrside {
  width: 780px;
  height: 1744px;
  position: absolute;
  right: 0;
  top: 0;
}

.mainrside .shop {
  width: 780px;
  height: 314px;
}

.mainrside .shop .shop-picture img {
  width: 574px;
  height: 311px;
  margin-right: 6px;
  margin-bottom: 8px;
  float: left;
}

.mainrside .shop .advertisement {
  width: 200px;
  height: 314px;
  float: right;
  margin-bottom: 8px;
}

.mainrside .shop .advertisement .word {
  width: 198px;
  height: 164px;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 8px;
}

.mainrside .shop .advertisement .word .submite3 {
  width: 183px;
  height: 27px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(89, 89, 89);
  line-height: 27px;
  text-align: left;
  background: url(index_hot.gif) repeat-x;
}

.mainrside .shop .advertisement .word .advtsm {
  width: 180px;
  height: 123px;
  margin: 4px;
  margin-top: none;
  padding: 5px;
  background: rgb(255, 255, 255);
}

.mainrside .shop .advertisement .word .advtsm li {
  height: 20px;
  margin-top: 3px;
  line-height: 20px;
  font-size: 12px;
}

.mainrside .shop .advertisement .advtsm-picture {
  width: 200px;
  height: 140px;
}

.mainrside .commodity {
  width: 778px;
  height: 275px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid rgb(204, 204, 204);
}

.mainrside .commodity .submit4 {
  width: 763px;
  height: 27px;
  text-align: left;
  line-height: 27px;
  color: rgb(89, 89, 89);
  margin-top: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: bold;
  background: url(index_hot.gif) repeat-x;
  position: relative;
}

.mainrside .commodity .submit4 ul {
  width: 385;
  height: 27px;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  font-weight: 100;
}

.mainrside .commodity .submit4 ul li {
  width: 50px;
  height: 27px;
  float: left;
  margin-right: 10px;
}

.mainrside .commodity .submit4 ul a {
  font-size: 12px;
  color: rgb(66, 66, 66);
}

.mainrside .commodity .cmdt {
  padding: 10px;
}

.mainrside .commodity .cmdt .goodsbox {
  width: 175px;
  height: 213px;
  font-size: 12px;
  text-align: center;
  margin: 5px 9px 10px 1px;
  float: left;
}

.mainrside .commodity .cmdt .goodsbox .imgbox {
  width: 170px;
  height: 170px;
  margin: 0 2px 5px 2px;
  border: 1px solid rgb(233, 233, 233);
}

.mainrside .commodity .cmdt .goodsbox a {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: rgb(66, 66, 66);
  text-align: center;
}

.mainrside .commodity .cmdt .goodsbox .oldprice {
  text-decoration: line-through;
}

.mainrside .commodity .cmdt .goodsbox .newprice {
  color: rgb(255, 108, 2);
  font-weight: bold;
}

footer {
  width: 100%;
  text-align: left;
}

.helptip {
  width: 988px;
  height: 90px;
  border: 1px solid rgb(204, 204, 204);
  padding: 20px 0;
  margin-bottom: 8px;
  background: rgb(248, 248, 248);
}

.helptip .helpt {
  width: 135px;
  height: 90px;
  margin-left: 10px;
  margin-right: 17px;
  border-right: 1px solid rgb(204, 204, 204);
  float: left;
}

.helptip .helpt h1 {
  height: 22px;
  line-height: 22px;
  margin-bottom: 6px;
  padding-left: 12px;
  text-align: left;
}

.helptip .helpt h1 a {
  font-size: 12px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.helptip .helpt li {
  width: 135px;
  padding-left: 10px;
  text-align: left;
  background: url(tubiao.gif) no-repeat left center;
}

.helptip .helpt li a {
  color: rgb(51, 51, 51);
  font-size: 12px;
  height: 18px;
  line-height: 18px;
}

.helptip .helpti {
  width: 160px;
  height: 90px;
  margin-right: 10px;
  float: left;
}

.helptip .helpti li {
  width: 160px;
  height: 37px;
  font-size: 12px;
  margin-bottom: 8px;
  padding-left: 10px;
  float: left;
}

.helptip .helpti li strong {
  font-size: 12px;
  font-weight: bold;
}

.links {
  width: 968px;
  height: 18px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
}

.links a {
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: rgb(102, 102, 102);
  margin-right: 8px;
}

.brief {
  width: 990px;
  height: 65px;
  background: orange;
}

.contact {
  color: rgb(66, 66, 66);
  font-size: 11px;
  font-family: verdana;
  width: 990px;
  height: 91px;
  margin: 8px 0px 30px 0px;
  text-align: center;
}

.contact a {
  color: rgb(66, 66, 66);
  font-size: 11px;
  font-family: verdana;
}